body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(227, 224, 241);
  background-size: 300% 300%;
  overflow-x: hidden;
}

header {
  background: linear-gradient(
    45deg,
    #0c012b,
    #1f0885,
    #079afc,
    #1f0885,
    #0c012b
  );
  color: #fff;
  padding: 20px;
  position: top;
  width: 100%;
  margin-top: 20px;
}

h1 {
  margin: 0;
}

#content {
  margin: 20px;
}

h2 {
  color: rgb(157, 113, 228);
  text-align: left;
  margin-left: 100px;
  font-size: 30px;
  text-decoration: underline;
}

footer {
  background: linear-gradient(
    45deg,
    #0c012b,
    #1f0885,
    #079afc,
    #1f0885,
    #0c012b
  );
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

form {
  max-width: 100%;
  width: 400px;
  margin-top: 20px;
}

.input {
  font-size: 1rem;
  padding: 5px 25px;
  display: block;
  width: 87%;
  margin-top: 20px;
  border: 2px, black;
}

.input::placeholder {
  color: #b5b5b5;
}

.todos {
  background-color: white;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
}

.todos li.completed {
  text-decoration: line-through;
  color: #b6b6b6;
}
